/.bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/storage/*
!/storage/.keep

/public/assets
.byebug_history

/config/master.key
/config/credentials.yml.enc
/test

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

config/settings.local.yml
config/environments/*.local.yml

/spec/views
/spec/helpers
/spec/requests
/spec/controllers
!/spec/rails_helper.rb
!/spec/spec_helper.rb

rspec.text

.ruby-version

coverage
