@import '../common/variables';

#create-screen {
  .form-group {
    .content {
      background-color: $whisper;
      font-size: 13px;
      padding: 6px 8px;
      max-width: 100%;
      margin: 1px 0;
      color: $bay-of-many;
      border-color: $hawkes-blue;
      display: block;
      width: 100%;
      height: auto;
      padding: 6px 12px;
      font-size: 16px;
      line-height: 1.828571429;
      border: 1px solid $gray80;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px $black-opacity-low;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      cursor: not-allowed;
    }
    #request_schedule_id, #request_title_request {
      width: 100%;
      height: auto;
      font-size: 16px;
      padding: 10px 5px;
    }
    #btn-request {
      padding: 5px 0;
      float: right;
    }
    #btn-create-request {
      padding: 9px 50px;
    }
  }
}

#request-screen {
  text-align: center;

  .request-table {
    padding: 0 20px;
  }
}

#request_search {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

#btn-search,  #content-search, #status {
  padding: 20px;
}
