@import './variables';

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

a {
  &:hover {
    & > i {
      color: $deep-sky-blue!important;
      text-shadow: 0px 0px 10px $deep-sky-blue;

      &::before {
        display: inline-block;
        animation: swing ease-in-out 0.65s 1 alternate;
      }
    }
  }
}

.color-red {
  color: $red;
}

.color-green {
  color: $green;
}

.color-gray {
  color: $gray;
}

.color-white {
  color: $white;
}

.my-hover {
  cursor: pointer;

  &.btn:hover {
    background-color: $cloud-burst;
    color: $white;

    & i {
      color: $deep-sky-blue;
      text-shadow: 0px 0px 10px $deep-sky-blue;

      &::before {
        display: inline-block;
        animation: swing ease-in-out 0.65s 1 alternate;
      }
    }
  }

  &:hover {
    & i {
      color: $deep-sky-blue;
      text-shadow: 0px 0px 10px $deep-sky-blue;

      &::before {
        display: inline-block;
        animation: swing ease-in-out 0.65s 1 alternate;
      }
    }
  }
}

.input-group:focus-within {
  .input-group-prepend {
    span {
      background-color: $cloud-burst!important;
    }
  }
  & i {
    color: $deep-sky-blue;
    text-shadow: 0px 0px 10px $deep-sky-blue;

    &::before {
      display: inline-block;
      animation: swing ease-in-out 0.65s 1 alternate;
    }
  }
}

#main-container-profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
}

.my-a-to-none {
  color: $white;
  text-decoration: none;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.my-active {
  background-color: $fern;
}
