$bunker: #343A40;
$cloud-burst: #3a3f48;
$cloud-burst-light: #818896;
$white: #ffffff;
$deep-sky-blue: #16c7ff;
$dark-red: #980303;
$fern: #5cb85c;
$black-opacity: rgba(0, 0, 0, 0.8);
$golden-poppy: #FFC312;
$black: #000000;
$red: red;
$green: green;
$gray: gray;
$whisper: #eeeeee;
$bay-of-many: #394263;
$hawkes-blue: #dbe1e8;
$gray80: #ccc;
$black-opacity-low: rgba(0,0,0,0.075);
